.header {
  position: relative;
  z-index: 100;
  background-color: transparent;
}
.header.desktop > div.container {
  padding: 20px 0;
}
.header .light-logo {
  display: block;
}
.header .logo {
  display: none;
}
.header.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
.header.scrolled.desktop > div {
  padding: 0;
}
.header.scrolled .light-logo {
  display: none;
}
.header.scrolled .logo {
  display: block;
  max-width: 140px;
}
.header.scrolled .main-menu li a.nav-link {
  color: #00A9BD;
}
.header.scrolled .language-menu li a.nav-link {
  color: #00A9BD;
}
.header.scrolled .language-menu li a.nav-link.active {
  color: #00A9BD;
}
.header.scrolled .language-menu li a.nav-link.active::after {
  background-color: #00A9BD;
}
.header.scrolled .language-menu li a.nav-link::after {
  background-color: #00A9BD;
}
.header .main-menu li a.nav-link {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  display: inline-block;
  text-align: center;
}
.header .main-menu li a.nav-link:hover {
  opacity: 0.8;
}
.header .language-menu li {
  position: relative;
  display: block;
  text-align: center;
  cursor: pointer;
}
.header .language-menu li a.nav-link {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 70px;
}
.header .language-menu li a.nav-link.active {
  text-decoration: none;
  color: #fff;
}
.header .language-menu li a.nav-link.active::after {
  content: "";
  position: absolute;
  top: 65%;
  height: 2px !important;
  width: 40%;
  left: 30%;
  background-color: #fff;
  transition: 0.4s ease-out all 0.1s;
}
.header .language-menu li a.nav-link.active:hover::after {
  width: 90%;
  left: 5%;
  transition: 0.5s ease all;
}
.header .language-menu li a.nav-link::after {
  content: "";
  position: absolute;
  top: 65%;
  height: 2px !important;
  width: 0;
  left: 50%;
  background-color: #fff;
  transition: 0.4s ease-out all 0.1s;
}
.header .language-menu li a.nav-link:hover::after {
  width: 90%;
  left: 5%;
  transition: 0.5s ease all;
}
@media screen and (max-width: 992px) {
  .header.desktop {
    display: none;
  }
  .header.mobile {
    display: block;
  }
  .header.mobile.scrolled .main-menu li a.nav-link {
    color: #fff;
  }
  .header.mobile.scrolled .navbar {
    background-color: #fff;
  }
  .header.mobile.scrolled .mobile-logo {
    display: none;
  }
  .header.mobile.scrolled .mobile-dark-logo {
    display: block;
  }
  .header.mobile.scrolled .burger-menu .burger-strip div {
    background: #00A9BD;
  }
  .header.mobile .mobile-logo,
.header.mobile .mobile-dark-logo {
    max-width: 80px;
  }
  .header.mobile .mobile-logo {
    display: block;
  }
  .header.mobile .mobile-dark-logo {
    display: none;
  }
  .header.mobile .burger-menu {
    border: none;
    border-radius: 0;
    outline: none;
    background-color: transparent;
  }
  .header.mobile .burger-menu:focus {
    border: none;
  }
  .header.mobile .burger-menu:focus-visible {
    border: none;
  }
  .header.mobile .burger-menu .burger-strip div {
    height: 3px;
    border-radius: 2px;
    background: #fff;
    margin: 10px;
    width: 40px;
  }
}
@media screen and (min-width: 992px) {
  .header.mobile {
    display: none;
  }
}
.header .offcanvas-body {
  flex-grow: 0;
  background-color: #00A9BD;
}
.header .offcanvas-body.bottom {
  background-color: #1E7784;
}
.header .offcanvas-body.bottom p {
  color: #CBCFD4;
  text-align: center;
  font-size: 14px;
}

.logo {
  max-width: 198px;
}

.main-section {
  position: relative;
  top: -134px;
  padding-top: 250px;
  background-color: #00A9BD;
  min-height: 800px;
  z-index: 1;
}
.main-section::after {
  display: block;
  position: absolute;
  top: 0;
  z-index: 5;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../background/Group 1000000795.svg");
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-section--img {
  display: block;
  position: relative;
  top: 160px;
  margin: 0 auto;
  width: 100%;
  max-width: 918px;
}
@media screen and (max-width: 992px) {
  .main-section--img {
    top: 50px;
  }
}

.about-section--one {
  min-height: 580px;
  padding-bottom: 80px;
  background-color: #58595B;
  position: relative;
  top: -134px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.about-section--one::after {
  content: url("../background/Vector.svg");
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
}
@media screen and (max-width: 768px) {
  .about-section--one::after {
    content: url("../background/small.png");
    bottom: -10%;
    top: unset;
  }
}
.about-section--one p {
  color: #fff;
  font-size: calc(18px + 6 * (100vw - 420px) / 2180);
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
  display: block;
  max-width: 920px;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .about-section--one {
    background-color: #00A9BD;
    min-height: 380px;
  }
}
@media screen and (max-width: 768px) {
  .about-section--one {
    padding-bottom: 5px;
  }
}

.arrow {
  display: block;
  position: absolute;
  z-index: 100;
  bottom: 10%;
  right: 15%;
  cursor: pointer;
  animation: bounce 0.6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@media screen and (max-width: 992px) {
  .arrow {
    max-width: 50px;
    right: 5%;
  }
}
@media screen and (max-width: 768px) {
  .arrow {
    bottom: -7%;
  }
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 10px, 0);
  }
}
.about-section--two {
  position: relative;
  top: -207px;
  min-height: 465px;
  background-image: url("../background/bg_section3.png");
  background-size: auto;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 100px;
}
.about-section--two p {
  color: #fff;
  font-size: calc(22px + 18 * (100vw - 420px) / 2180);
  line-height: 1.8;
  font-weight: 700;
  text-align: center;
}

.about-section--three {
  position: relative;
  top: -100px;
}
.about-section--three h3 {
  font-size: calc(28px + 16 * (100vw - 420px) / 2180);
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}
.about-section--three .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-section--three .feature p {
  color: #787A7D;
  font-size: calc(18px + 4 * (100vw - 420px) / 2180);
  line-height: 1.8;
  font-weight: 500;
  text-align: center;
  padding-top: 80px;
}
@media screen and (max-width: 768px) {
  .about-section--three .feature img {
    max-width: 120px;
  }
}
.about-section--three h2 {
  font-size: calc(30px + 20 * (100vw - 420px) / 2180);
  line-height: 1.8;
  font-weight: 700;
  text-align: center;
  color: #58595B;
  margin-top: 50px;
}

.about-us-section {
  display: block;
}
.about-us-section .row {
  margin: 0;
}
.about-us-section .row div[class*=col-] {
  padding: 0;
}
.about-us-section div[class*=col-] {
  padding: 0;
}
.about-us-section div[class*=col-] .row {
  margin: 0;
}
.about-us-section div[class*=col-] .row .col {
  padding: 0;
}
.about-us-section .empty.blue-box {
  background-color: #00A9BD;
  position: relative;
}
.about-us-section .empty.blue-box::after {
  content: url("../background/Vector.svg");
  display: block;
  position: absolute;
  top: 50%;
  right: -20%;
  z-index: 10;
}
.about-us-section .empty.gray-box {
  background-color: #787A7D;
  position: relative;
}
.about-us-section .empty.gray-box::after {
  content: url("../background/Vector.svg");
  display: block;
  position: absolute;
  top: 50%;
  left: -20%;
  z-index: 10;
}
.about-us-section .with-img {
  min-height: 510px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 50;
}
.about-us-section .with-img.left {
  background-image: url("../public/about-left.png");
}
.about-us-section .with-img.left::after {
  content: url("../public/stamp.png");
  display: block;
  position: absolute;
  top: -20px;
  right: -30px;
  z-index: 10;
}
.about-us-section .with-img.right {
  background-image: url("../public/about-right.png");
}
.about-us-section .with-img.right::after {
  content: url("../public/stamp.png");
  display: block;
  position: absolute;
  bottom: -30px;
  left: -30px;
  z-index: 10;
}
.about-us-section .box {
  min-height: 255px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us-section .box.blue {
  background-color: #00A9BD;
}
.about-us-section .box.dark-gray {
  background-color: #58595B;
}
.about-us-section .box.light-gray {
  background-color: #787A7D;
}
.about-us-section .box p {
  color: #fff;
  font-size: calc(18px + 6 * (100vw - 420px) / 2180);
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
  display: block;
  max-width: 620px;
}
@media screen and (max-width: 992px) {
  .about-us-section {
    display: none;
  }
}
.about-us-section--col {
  display: none;
}
.about-us-section--col p {
  color: #fff;
  font-size: calc(18px + 6 * (100vw - 420px) / 2180);
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
  display: block;
  max-width: 620px;
}
.about-us-section--col .image-box {
  display: block;
  min-height: 400px;
  background-image: url("../public/about-left.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.about-us-section--col .box {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.about-us-section--col .box.blue {
  background-color: #00A9BD;
}
.about-us-section--col .box.blue::after {
  content: url("../background/small.png");
  display: block;
  position: absolute;
  top: 75%;
  right: 10%;
  z-index: 10;
}
.about-us-section--col .box.dark-gray {
  background-color: #58595B;
}
.about-us-section--col .box.dark-gray::after {
  content: url("../public/stamp.png");
  display: block;
  position: absolute;
  top: -20px;
  left: 10%;
  z-index: 10;
}
.about-us-section--col .box.light-gray {
  background-color: #787A7D;
}
.about-us-section--col .box.light-gray::after {
  content: url("../public/stamp.png");
  display: block;
  position: absolute;
  top: -21px;
  right: 10%;
  z-index: 10;
}
@media screen and (max-width: 992px) {
  .about-us-section--col {
    display: block;
  }
}

.partners {
  background-color: #00A9BD;
  min-height: 520px;
  display: flex;
  align-items: center;
}
.partners h2 {
  font-size: calc(30px + 22 * (100vw - 420px) / 2180);
  line-height: 1.8;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.map {
  filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
}

footer {
  background-color: #58595B;
}
footer .footer-bottom {
  background-color: #3C444C;
}
footer .footer-bottom span {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
@media screen and (max-width: 576px) {
  footer > div {
    flex-direction: column-reverse;
  }
  footer .logo-box {
    padding-top: 50px;
  }
}

.contact-form {
  /* firefox 19+ */
  /* ie */
}
.contact-form .row {
  padding-bottom: 10px;
}
.contact-form input, .contact-form textarea {
  display: block;
  outline: none;
  border: none;
  height: 2em;
  font-size: 16px;
  margin-bottom: 1px;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  background-color: transparent;
  caret-color: #fff;
  color: #fff;
}
.contact-form input:focus, .contact-form textarea:focus {
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}
.contact-form ::-webkit-input-placeholder {
  color: #fff;
}
.contact-form ::-moz-placeholder {
  color: #fff;
}
.contact-form :-ms-input-placeholder {
  color: #fff;
}
.contact-form input:-moz-placeholder {
  color: #fff;
}
.contact-form .text-modified {
  color: #fff;
}
@media screen and (max-width: 768px) {
  .contact-form {
    margin-top: 30px;
  }
}

.btn-send {
  color: #fff;
  background-color: #00A9BD;
  font-size: 18px;
  font-weight: 400;
  padding: 5px 25px;
  border-radius: 0;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .logo-box, .form-box, .footer-text-box {
    width: 100%;
    justify-content: center !important;
  }
}
body {
  font-family: "Manrope", sans-serif;
  margin: 0 auto;
}

.container {
  max-width: 1480px;
}

h1 {
  font-family: "Manrope", sans-serif;
  font-size: calc(32px + 28 * (100vw - 420px) / 2180);
  font-weight: 800;
  color: #fff;
  text-align: center;
}

#bck-tt-button {
  display: inline-block;
  background-color: #00A9BD;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  text-decoration: none !important;
}
#bck-tt-button::after {
  content: "\f106";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
  text-decoration: none !important;
}
#bck-tt-button:hover {
  cursor: pointer;
  background-color: #333;
  text-decoration: none;
}
#bck-tt-button:active {
  background-color: #00A9BD;
  text-decoration: none;
}
#bck-tt-button:focus {
  text-decoration: none;
}
#bck-tt-button.show {
  opacity: 1;
  visibility: visible;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
